# =========================
# Obsidian - configuración local
# =========================

/vault/.obsidian/


# =========================
# Sistema operativo
# =========================

.DS_Store
Thumbs.db


# =========================
# Archivos temporales
# =========================

*.tmp
*.temp
*.swp
*~


# =========================
# Contenido personal - NO subir a Git
# =========================

/vault/02 Projects/Personal/Finanzas/
/vault/02 Projects/Personal/E/